

.main{ width:1190px; overflow:hidden;  margin-left:auto; margin-right:auto; margin-top:20px; margin-bottom:20px;}
.ti{ height:50px; width:1188px; background-color:#d9edf7;border:1px solid #bce8f1;}
.ti h2{ height:50px; line-height:50px; font-weight:normal; font-size:18px; margin-left:20px; float:left;}
.ti a{ float:right; background-color:#5bc0de; border-radius:4px; padding:4px 6px 4px 6px; margin-right:20px; margin-top:10px; border:1px solid #46b8da; color:white;}
.to{ overflow:hidden; width:1148px;}
.bo{ border:1px solid #ddd; padding:0px 20px 20px 20px; width:1148px; overflow:hidden; }
.bb{ border-top:none;}
.xx{ height:50px; width:1148px; border-bottom:1px solid #ddd; margin-top:20px;}
.xx span{ height:16px; width:8px; float:left; background-color:#011328; margin-top:18px; margin-right:10px;}
.xx em{ height:50px; line-height:50px; font-size:16px;}.
.cr{ width:1148px; overflow:hidden;}
.cr h2{ font-weight:normal;height:50px; line-height:50px; margin-left:18px;}
.bt{ margin-left:18px; width:1130px; height:34px; width:1130px; margin-bottom:15px;}
.xm{ width:100px; height:32px; line-height:32px; float:left; text-align:right;}
.wbk{float: left; width: 300px; height:34px;}
.wbk_01{ border-radius:4px; height:32px; border:1px solid #ddd;width: 290px; padding-left:10px; line-height:32px; color:#666;}
.tj{ margin-left:118px;}
.tj_01{ width:130px; height:34px; border-radius:4px; background-color:#1454ac; color:white;}
.md{ height:28px; width:1130px; margin-left:18px;}
.md span{ width:100px; height:28px; line-height:28px; text-align:right; display:block; float:left;}
.md em{height:28px; line-height:28px; float:left; display:block;}
.md b{ float:left; height:28px; line-height:28px; }
.jj{margin-right:10px;}
.jl{ margin-top:12px;}
.sj{ background-color:#5bc0de; border-radius:4px; padding:0px 6px 0px 6px; color:white; font-weight:600;}
.zf{ height:30px; width:600px; padding-top:15px;}
.zf_01{ height:30px;line-height:18px; margin-left:20px;}
.fw{ height:40px; width:1148px; padding-top:15px; padding-bottom:15px;}
.fw_01{ height:40px; width:1148px;}
.fw_01 img{ width:40px; height:40px;float:left;margin-left:10px;}
.fw_01 b{ font-size:18px; height:40px; line-height:40px; float:left;margin-left:10px;}
.fw_01 span{ font-size:18px; font-weight:bold;height:40px; line-height:40px; float:right;margin-left:10px; margin-right:20px;}
.fw_01 em{ font-size:12px; height:40px; line-height:40px; float:left;margin-left:10px;}
.jwy{ margin-left:18px; float:left; line-height:40px; height:40px; }
.jg_bo{width:1128px; overflow:hidden;}
.jg_bo p{ font-size:12px; color:#666;}
.jg_bor{ overflow:hidden; width:1130px; margin-left:18px; margin-top:15px;}
.coc{ color:#e00346;}
.xdd{ overflow:hidden; width:1108px; margin:20px;}
.fx{ float:left; height:40px; line-height:40px; margin-right:8px;}
.yd{ overflow:hidden; width:800px; }
.yd span{ float:left; height:38px; line-height:38px;}
.yd a{ float:left; color:#1454ac; height:38px; line-height:38px;}
.xdd_ri{ float:right; width:200px; overflow:hidden;}
.tjdd{ width:200px; height:44px; line-height:44px;}
.tjdd span{ font-size:18px; font-weight:bold; text-align:right; width:100px; float:left;}
.tjdd em{ font-size:18px; font-weight:bold; color:#e00346; width:100px;float:left;}
.dd_bor{ height:40px; width:160px; border-radius:4px; line-height:40px;}
.cc{ overflow:hidden;width:150px; margin-left:10px;}
.cc_01{ background-color:#1454ac; height:40px; width:150px; color:white; font-size:16px; line-height:38px; border-radius:4px;}


.main_box{ margin-left:auto; margin-right:auto; width:1190px; overflow:hidden; margin-top:20px; margin-bottom:20px;}
.main_le{ overflow:hidden; width:870px; float:left;}
.main_le_01{ height:134px; width:868px; border:1px solid #dddddd; margin-bottom:20px;}
.city{ height:98px; width:110px; border-radius:5px 5px 5px 5px;background-color:#f4f4f4; margin:15px 15px 20px 23px; font-size:18px; text-align:center; line-height:98px; float:left; border:1px solid #e9ebee;}
.qchc{ height:119px; width:730px; float:left; padding-top:16px;}
.qchc_top{ height:45px; width:355px; float:left; margin-bottom:10px; margin-left:10px;}
.qcmd{ height:45px; width:69px; float:left;line-height:43px;}
.qcmd_01{ height:43px; width:275px; float:left; line-height:43px;}
.qcmd_01 span{ padding-left:10px; float:left;}
.qcmd_01 img{ float:right; width:13px; height:7px; margin-right:10px; margin-top:20px;}
.qxc{ float:left; height:100px; width:100px; background-color:#f76030; margin:15px 15px 20px 20px; border-radius:5px 5px 5px 5px; text-align:center; color:white; line-height:70px; font-size:18px; background-image:url(../images/qxc_01.png); background-repeat:no-repeat; background-position:center 70%;}

.xts{ height:48px; width:856px; background-color:#f76030; border:1px solid #bce8f1;border-radius:5px 5px 5px 5px; padding-left:10px; line-height:48px; color:white;}

.jg_box{ width:868px; overflow:hidden;border:1px solid #dddddd; margin-top:20px; padding-top:20px; padding-bottom:10px;}
.jg{width:828px; overflow:hidden; margin-right:auto; margin-left:auto; margin-bottom:10px;}
.pp{ float:left; font-size:14px; font-weight:700; width:44px;}
.bx{ height:20px; width:28px; float:left; line-height:20px; text-align:center;}
.bx a{font-size:14px;}
.selected{ background-color:#f76030; color:#fff;padding:0 5px;}
.selected a{color:#fff;}
.qb_01{ float:left; margin-left:5px; margin-right:5px;text-align:center;}
.qb{ width:746px; float:left; overflow:hidden;}
.dfcx{ height:36px; width:858px;  border:1px solid #e9ebee; border-radius:5px 5px 5px 5px; background-color:#f4f4f4; line-height:36px; padding-left:10px; margin-top:20px;}

.cl_box{ width:868px; overflow:hidden; border:1px solid #dddddd; margin:20px 0 10px 0;}
.cl_01{ height:139px; width:868px; border-bottom:1px solid #dddddd;}
.cl_02{ border-bottom:none;}
.czjd{ height:99px; width:828px; margin:20px;}
.czjd_01{ width:240px; height:99px; float:left; margin-right:30px;}
.czjd_01 img{width:240px; height:99px;}
.czjd_02{ width:170px;  float:left; margin-left:50px; margin-top:40px; margin-right:20px;}
.czjd_02 h4{ font-size:18px; margin-bottom:8px;}
.czjd_02 span{ background-color:#f76030; border-radius:8px; padding:1px 4px 1px 4px; float:left; margin-right:8px; font-size:12px; color:white; }
.zdd{ width:170px; height:26px;}
.czjd_03{ width:197px;  float:left;color:#e00346; font-size:24px; margin-top:45px; margin-right:20px;}
.czjd_04{float:left; background-color:#f76030; font-size:16px; color:white; width:116px; height:40px; border-radius:8px; text-align:center; line-height:40px; margin-top:40px;}
.czjd_05{ width:197px; height:99px; float:left; background-color:#f5b805; font-size:16px; color:white; width:116px; height:40px; border-radius:8px; text-align:center; line-height:40px; margin-top:40px;}
.cl_03{ background-color:#f4f4f4;height:99px; width:828px; border-bottom:1px solid #dddddd; padding:20px; border-bottom:1px solid #dddddd;}
.dfdp_01{ overflow:hidden; width:450px; float:left;}
.dfdp_01 h2{ font-size:16px; font-weight:600; margin-bottom:8px;}
.dfdp_01 span{ color:#666; margin-bottom:8px; display:block;}
.dfdp_02{ overflow:hidden; width:150px; float:left; margin-left:40px;}
.dfdp_02 em{ font-size:12px; color:#666;}
.dfdp_03{float:left; background-color:#1454ac; font-size:16px; color:white; width:116px; height:40px; border-radius:8px; text-align:center; line-height:40px; margin-top:25px; margin-left:68px;}
.dfdp_02 span{ width:197px;  float:left;color:#e00346; font-size:24px; margin-top:30px; margin-right:20px;}

.main_ri{ height:100px; width:300px; float:right; background:red;}
.ggt{ width:300px; height:280px;}
.ggt img{ width:300px; height:280px;}
.fwyz{ width:258px; overflow:hidden; border:1px solid #dddddd; margin-top:20px; padding:20px; position:relative;}
.fwyz_h{ font-size:18px;}
.fwyz_t{ height:64px; width:64px; float:left; }
.fwyz_t img{ height:64px; width:64px;}
.fwyz_gd{ width:174px; height:64px; float:left; margin-left:20px;}
.fwyz_01{ width:258px; overflow:hidden; margin-top:20px;}
.fwyz_gd span{ font-size:12px; color:#666;}
.dw{ width:30px; height:10px; background-color:#1454ac; position:absolute; left:20px; top:0px;}
.czjd_04 a{color:#fff;}
.wxgz{ width:100px; height:138px; margin:10px 74px 0 74px;float:left; }
.wxgz_t{ width:100px; height:100px;}
.wxgz_t img{ width:100px; height:100px;}
.wxgz_text{ width:100px; height:28px; background-color:#1454ac; color:white; line-height:28px; text-align:center; margin-top:10px; font-size:16px;}
.wxgz_01{float:right; width:100px; height:138px; margin-top:10px;}
.wxxz{ width:258px; overflow:hidden;}
.wxxz_01{ width:258px; overflow:hidden; margin-top:20px;}
.wxxz_01 span{ display:block; text-align:center; margin-bottom:10px; font-size:16px; color:#1454ac;}
select.width-100{width:87px;border:1px solid #ccc;padding:6px;}
.date{border:1px solid #ccc;background: url(../images/banner_010.png) no-repeat 96% center;}
.height-40{height:40px;line-height: 40px;}

._headImg{
		width: 200px;
		height: 200px;
		border: 1px solid gainsboro;
		border-radius: 5px;
		margin-left:118px; 
		margin-bottom:15px;
	}